<nav class="HeaderNav" id="nav">
  <article class="login">
    <div class="ButtonGoToAuthentication">
      <%- include('../ButtonGoToAuthentication/ButtonGoToAuthentication', {
      action: 'Iniciar Sessión', url: '/login'} ) %> <%-
      include('../ButtonGoToAuthentication/ButtonGoToAuthentication', { action:
      'Registrarse', url: '/register'} ) %>
    </div>
  </article>
  <ul class="menuItems">
    <li class="submenuToggle">
      <li><a href="/admin">DASHBOARD</a></li>
    </li>
    <li><a href="/contact">PQRS</a></li>
  </ul>
</nav>
<script defer src="/js/Components/HeaderNav/HeaderNav.js"></script>
