.card_item_Offers {
  width: 100%;
}
.targ {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 50px;
}
.card_item_Off {
  width: 16em;
  margin: 10px;
}
.inf_item {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.conte_item_img_off {
  width: 100%;
}
.conte_item_img_off img {
  width: 100%;
  height: 200px;
}
.tl_pr {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tl_pr h2 {
  font-family: var(--secondFont);
  font-size: 1.6em;
  font-weight: bold;
}
.descrip_item {
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}
.link_item {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.767);
}

.btns_items {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.btn_items {
  width: 100px;
  height: 38px;
  margin-left: 5px;
  border: none;
  background: rgb(231, 138, 0);
  border-radius: 6px;
  transition: 2ms;
}
.btn_items:hover {
  background: rgb(255, 255, 255);
  border: solid 1px rgb(231, 138, 0);
}
