<!DOCTYPE html>
<html lang="en">
  <%- include('../Components/Head/Head') %>

  <body class="adminCreateBody">
    <%- include('../Components/Header/Header') %>

    <div class="title_set wrapper">
      <p>Crear Producto</p>
    </div>
    <section class="conte_set wrapper">
      <div>
        <form
          action="/product/create"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="data_input">
            <label for="name"
              ><input
                class="input_edit"
                type="text"
                name="name"
                id="name"
                placeholder="Nombre del Poducto"
            /></label>
          </div>
          <div class="data_input">
            <label for="price"
              ><input
                name="price"
                id="price"
                class="input_edit"
                type="text"
                placeholder="Precio del Poducto"
            /></label>
          </div>
          <div class="data_input">
            <label for="category"
              ><input
                name="category"
                id="category"
                class="input_edit"
                type="text"
                placeholder="Categoria del Poducto"
            /></label>
          </div>

          <div class="data_input">
            <label for="discount"
              ><input
                name="discount"
                id="discount"
                class="input_edit"
                type="number"
                placeholder="Descuento del Poducto"
            /></label>
          </div>
          <div class="data_input">
            <label for="description"></label>
            <textarea
              class="text_area"
              name="description"
              id="description"
              placeholder="Descripcion del Producto"
            ></textarea>
          </div>

          <div class="data_input">
            <input class="image" type="file" name="image" id="image" />
          </div>
          <div class="data_input">
            <button type="submit">Guardar Cambios</button>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
