<div class="conteSesion">
  <span class="titleSesion">Ofertas disponibles</span>
</div>
<div class="padre_card_Discount">
  <div class="cardGeneral">
    <div class="card_1">
      <p class="discount_p">20%▾</p>
      <a href="/api/offers/20">
        <img
          class="img_Card"
          src="../../../../img/products/marshall.jpg"
          alt=""
        />
      </a>
    </div>
  </div>

  <div class="duoCard">
    <div class="duoCard_t card_2">
      <p class="discount_p">15%▾</p>
      <a href="/api/offers/15">
        <img
          class="img_Card"
          src="../../../../img/products/marshall.jpg"
          alt=""
        />
      </a>
    </div>

    <div class="duoCard_t card_3">
      <p class="discount_p">10%▾</p>
      <a href="/api/offers/10">
        <img
          class="img_Card"
          src="../../../../img/products/marshall.jpg"
          alt=""
        />
      </a>
    </div>
  </div>
</div>
